In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

In [3]:
# Reference the file where the CSV is located
csv_path = "output_file.csv"

# Import the data into a Pandas DataFrame
weather_df = pd.read_csv(csv_path)
weather_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,Husavik,IS,2021-02-06 20:10:46,66.0449,-17.3389,30.2,80,90,2.30
1,1,Palmer,US,2021-02-06 20:10:46,42.1584,-72.3287,39.2,35,20,14.97
2,2,Cape Town,ZA,2021-02-06 20:10:46,-33.9258,18.4232,73.0,78,20,14.97
3,3,Tuktoyaktuk,CA,2021-02-06 20:08:19,69.4541,-133.0374,-16.6,76,90,21.85
4,4,Ponta do Sol,PT,2021-02-06 20:10:47,32.6667,-17.1000,55.0,68,13,1.99

In [4]:
weather_df.to_html('cities_html.html')

In [6]:
weather_df.columns.get_level_values(0)

Index(['Unnamed: 0', 'City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp (F)',
       'Humidity (%)', 'Cloudiness (%)', 'Wind Speed (mph)'],
      dtype='object')

In [27]:
#weather_df = weather_df.columns["City"],["Country"],["Date"],["Max Temp (F)"],["Humidity (%)"],["Cloudiness(%)"],["Wind Speed (mph)" ]

#weather_df = weather_df.drop(['Lng'], axis=1)
weather_df

,City,Country,Date,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Husavik,IS,2021-02-06 20:10:46,30.20,80,90,2.30
1,Palmer,US,2021-02-06 20:10:46,39.20,35,20,14.97
2,Cape Town,ZA,2021-02-06 20:10:46,73.00,78,20,14.97
3,Tuktoyaktuk,CA,2021-02-06 20:08:19,-16.60,76,90,21.85
4,Ponta do Sol,PT,2021-02-06 20:10:47,55.00,68,13,1.99
...,...,...,...,...,...,...,...
497,Shubarshi,KZ,2021-02-06 20:08:08,14.74,95,72,15.79
498,Nantucket,US,2021-02-06 20:08:45,42.80,56,1,23.02
499,Tornio,FI,2021-02-06 20:11:37,12.20,85,0,6.91
500,Portobelo,PA,2021-02-06 20:11:38,89.01,99,100,10.16
501,Yangi Marg`ilon,UZ,2021-02-06 20:11:38,42.80,49,100,4.61

In [28]:
weather_df.to_html('cities_html.html')